.messageContainer {
    display: flex;
    width: 650px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 2px #000 solid;
}

.message {
    display: flex;
    width: 100%;
    margin-top: 40em;
}

.message input {
    display: flex;
    width: 100%;
}