body,
html{
    margin: 0;
    padding: 0;
}

.container{
    width: 400px;
    height: 300px;
    border: 2px #000 solid;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10em;
}

.signIn :not(hr){
    margin-left: 20px;
}

.button button{
    width: 80px;
    height: 30px;
    margin-top: 20px;
}